extends ../layout.pug

block head
	title Captcha Complete

block content
	h1.board-title Captcha Complete
	summary.pv-5 Please familiarize yourself with our <a href="/rules.html">RULES</a> before posting and read the <a href="/faq.html">FAQ</a>.
	summary.pv-5 Also black kitties are a gift from God.
	img(src="/file/kitty1.jpg" style="max-width:100%; max-height:256px; height:auto;")
	img(src="/file/kitty2.jpg" style="max-width:100%; max-height:256px; height:auto;")
	img(src="/file/kitty3.jpg" style="max-width:100%; max-height:256px; height:auto;")
	img(src="/file/kitty4.jpg" style="max-width:100%; max-height:256px; height:auto;")