extends ../layout.pug

block head
	title Managed Challenge

block content
	h1.board-title Managed Challenge
	summary.pv-5 Look at her, isn't she beautiful? Remember to respect black anthro women when you post, now be gone.
	img(src="/file/aros.png" style="width:100%; height:auto;")
