extends ../layout.pug

block head
	title Captcha Completed

block content
	h1.board-title Captcha Completed
	summary.pv-5 Look at her, isn't she beautiful? Remember to respect black anthro women when you post, now be gone.
	img(src="/file/aros.png" style="max-width:100%; height:auto; display: block;")
