extends ../layout.pug

block head
	title Rules

block content
	h1.board-title Rules
	.table-container.flex-center.mv-10
		table.table-body
			tr.table-row
				td
					p 1. Do not post illegal content in the United States and applicable western international internet laws.
					p.rule-clarification Any form of pedophilia, zoophilia, and zoosadism is forbidden.
					p.rule-clarification Obfuscating URLs (shorteners/redirects) or bypassing URL filters is forbidden.
					p 2. Do not post gore, porn, overly fetishistic media, exposed vagina, penis, or bare nipples.
					p.rule-clarification Staff will not discriminate against you for content you look at elsewhere unless it breaks rule 1 or 3.
					p.rule-clarification Media should be spoilered if it is pushing the rules, e.g. bimbo anthros.
					p 3. Do not act hostile to the site and other posters.
					p.rule-clarification Call for doxxing, DDoS, splitting the community, and or all other activity with intent to harm the site and its posters is forbidden.
					p 4. Do not post to inhibit experience, navigation and or moderation of the site.
					p.rule-clarification Making multiple threads within short timeframe with duplicate topics is forbidden.
					p.rule-clarification Spamming unless a thread permits it or encourages it is forbidden.
					p.rule-clarification If a thread is marked 'M' please respect the thread topic or OP may remove your posts.
					p 5. You must be 18 or older to post.
					p 6. Posting #[b ANYTHING] negative of black anthro women is forbidden.
					p #[i If a post is breaking the rules please report it.]
					p #[i Meta posts regarding the site belong in a meta thread.]
					p #[i Threads must be related to the board's focus and grossly off-topic threads are viable to being moved/deleted.]

	h1.board-title Ban Guideline
	.table-container.flex-center.mv-10
		table
			tr
				td
					p 
						| All Bans are global and allow appeal, except for serious edge cases.
						| If you feel your appeals are wrongly denied reach the site Admin directly by email, see 
						| <a href="/faq.html">faq</a>.
