extends ../layout.pug

block head
	title Rules

block content
	h1.board-title Rules
	.table-container.flex-center.mv-10
		table.table-body
			tr.table-row
				td
					p 1. Do not post illegal content in the United States and applicable western international internet laws.
					p.rule-clarification Including but not limited to any form of pedophilia, zoophilia, and zoosadism.
					p 2. Do not post gore, porn, or fetish content.
					p.rule-clarification Vagina, penis, and bare nipples are not allowed.
					p.rule-clarification Lewd content should be spoilered, and is not encouraged.
					p 3. Do not act hostile the site.
					p 4. Do not spam.
					p 5. You must be 18 or older to post.
					p 6. Posting #[b ANYTHING] negative of black anthro women will result in a fate worse than death.
					p #[i Staff will move/delete posts at their discretion, and should generally provide a reason.]

	h1.board-title Ban Guideline
	.table-container.flex-center.mv-10
		table
			tr
				td
					p 
						| All Bans are global and allow appeal, except for serious edge cases.
					.edited
						| If you feel your appeals are wrongly denied reach the site Admin directly by email, see 
						| <a href="/faq.html">faq</a>.
