extends ../layout.pug

block head
	title Rules

block content
	h1.board-title Rules
	.table-container.flex-center.mv-10
		table.table-body
			tr.table-row
				td
					p 1. Do #[b NOT] post or request any illegal content in the United States.
					p.rule-clarification This includes any form of pedophilia, zoophilia, and zoosadism this list is not exclusive.
					p 2. Do #[b NOT] post or request any NSFW content.
					p.rule-clarification This includes any form of gore, fetish posting, and erotic text.
					p 3. Do #[b NOT] act hostile to the site.
					p 4. Do #[b NOT] spam.
					p 5. You #[b MUST] be 18 or older to use this site.
					p.rule-clarification Since it is impossible to verify age, to get banned a user must openly admit to being under 18.
					p 6. Saying #[b ANYTHING] negative about black anthro women is forbidden.

	h1.board-title Moderation Guidelines
	.table-container.flex-center.mv-10
		table
			tr
				td
					p 1. A 10 year ban.
					p 2. A 1 hour ban or longer at staff discretion.
					p 3. A 1 day ban or longer at staff discretion.
					p 4. A 4 hour ban or longer at staff discretion.
					p 5. A 1 year ban or longer at staff discretion.
					p 6. As long as I feel like in the moment, don't test me.
					.edited
						| If you believe a ban is false, appeal it. If you feel your appeals are
						| wrongly denied reach the site Admin by email, see 
						| <a href="/faq.html">faq</a>.
						| #[b However], if your email is nonsense that is the end of it.
