extends ../layout.pug

block head
	title Rules

block content
	h1.board-title Rules
	.table-container.flex-center.mv-10
		table.table-body
			tr.table-row
				td
					p 1. Do not post illegal content in the United States and applicable western international internet laws.
					p.rule-clarification Including but not limited to any form of pedophilia, zoophilia, and zoosadism.
					p 2. Do not post gore, overly fetishistic media, porn, exposed vagina, penis, or bare nipples.
					p.rule-clarification You are not judged/discriminated against for content you look at elsewhere except if it breaks rule 1 or is fucking disgusting.
					p 3. Do not act hostile to the site.
					p.rule-clarification Drama harmful to the general community, doxxing, turf wars, and or all other activity with intent to harm this site is forbidden.
					p 4. Do not spam with intent to inhibit the navigation, experience, and or moderation of the site.
					p 5. You must be 18 or older to post.
					p 6. Posting #[b ANYTHING] negative of black anthro women is forbidden.
					p #[i Posts should be spoilered if they are pushing the rules.]
					p #[i Staff will move/delete posts at their discretion, and should generally provide a reason.]

	h1.board-title Ban Guideline
	.table-container.flex-center.mv-10
		table
			tr
				td
					p 
						| All Bans are global and allow appeal, except for serious edge cases.
						| If you feel your appeals are wrongly denied reach the site Admin directly by email, see 
						| <a href="/faq.html">faq</a>.
