unless minimal
	nav.navbar
		a.nav-item(href='/index.html')
			img(src='/file/home.png' alt='Home')
		a.nav-item(href='/boards.html')
			img(src='/file/boards.png' alt='Boards')
		a.nav-item(href='/overboard.html')
			img(src='/file/overboard.png' alt='Overboard')
		a.nav-item(href='/pages.html')
			img(src='/file/pages.png' alt='Pages')
		a.nav-item(href='/account.html')
			img(src='/file/account.png' alt='Account')
		if !modview && board
			a.nav-item(href=`/${board._id}/manage/${managePage || 'index.html'}`)
				img(src='/file/manage.png' alt='Manage')
		.nav-item.right#settings
			img(src='/file/settings.png' alt='Settings')
